<form role="form" ng-submit = 'create()'>
  <div class="form-group">
    <label for="fName">First Name:</label>
    <input type="text" class="form-control" ng-model='user.fName' required>
  </div>
  <div class="form-group">
    <label for="pwd">Last Name:</label>
    <input type="text" class="form-control" ng-model='user.lName' required>
  </div> 
  <div class="form-group">
    <label for="pwd">Title</label>
    <input type="text" class="form-control"  ng-model='user.title' required>
  </div> 
  <div class="form-group">
    <label for="pwd">Gender</label>
    <input type="text" class="form-control" ng-model='user.gender' required>
  </div>
  <div class="form-group">
    <label for="pwd">file</label>
    <input id='myFile' type='file' name='img' accept="image/*;capture=camera" fileread='user.img' required>
	<img class='preview' ng-src='{{user.img}}'/>
  </div>	
  <button type="submit" class="btn btn-default" >create User</button>
</form>